#banner {
    .slick-prev{
        left: 20px;
        background-color: blue;
        z-index: 10;
    }

    .slick-next {
        right: 20px;
        background-color: blue;
        z-index: 10;
    }
}